%p#notice= notice

.container
  .row
    .col
      %h1 Users
    .col
      = smart_listing_controls_for(:users) do
        .input-group.mb-2.mr-sm-2.mb-sm-0
          .input-group-addon Search
          %input#inlineFormInputGroup.form-control{placeholder: "Username", name:'filter', type: "text", autocomplete: 'off', value: params[:filter]}
    .col.text-right
      = link_to new_user_path do
        .btn.btn-primary New User


= smart_listing_render(:users)
